@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: black;
  color: white;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
}

#red {
  background-color: #b50000;
  width: 50%;
  border-radius: 100% 0 0 0;

}

#yellow {
  background-color: #ccc804;
  border-radius: 0 100% 0 0;

}

#green {
  background-color: #008e02;
  border-radius: 0 0 0 100%;


}

#blue {
  background-color: #0007ea;
  border-radius: 0 0 100% 0;
}

table {
  width: 500px;
  height: 500px;
  margin: auto;
  border-radius: 20px;
  margin: 50px 0;
}

td {
  border: 2px solid black;
}

#gameboard {
  position: relative;
  width: 500px;
  margin: auto;

}

#startbutton {
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  position: absolute;
  width: 250px;
  height: 250px;
  top: 125px;
  left: 125px;
  border-radius: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 250px;
  cursor: default;
  font-weight: bold;
  font-size: 40px;
  overflow: hidden;
}

#startbutton:active {
  background-color: grey;
}

#startbutton div {
  position: relative;
  top: -90px;
  line-height: initial;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}


#red.redFlashBackground {

  background-color: #ff3d3d;
}

#green.greenFlashBackground {

  background-color: #59ff67;
}

#yellow.yellowFlashBackground {
  background-color: #fffc7a;

}

#blue.blueFlashBackground {
  background-color: #93cdff;
}

.message {
  text-align: center;
}

.big {
  font-size: 40px;
}

[v-cloak] {
  display:none;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  margin-top: 50px;
}
