#red {
  background-color: #b50000;
  width: 50%;
  border-radius: 100% 0 0 0;

}

#yellow {
  background-color: #ccc804;
  border-radius: 0 100% 0 0;

}

#green {
  background-color: #008e02;
  border-radius: 0 0 0 100%;


}

#blue {
  background-color: #0007ea;
  border-radius: 0 0 100% 0;
}

table {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 20px;
}

#gameboard {
  position: relative;
  width: 300px;
  margin: auto;

}

#startbutton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 125px;
  left: 125px;
  border-radius: 100%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: default;
}

#startbutton:active {
  background-color: grey;
}


#red.redFlashBackground {

  background-color: #ff3d3d;
}

#green.greenFlashBackground {

  background-color: #59ff67;
}

#yellow.yellowFlashBackground {
  background-color: #fffc7a;

}

#blue.blueFlashBackground {
  background-color: #93cdff;
}

#timer {
  font-size: 100px;
  text-align: center;

}
